{% extends 'layout/layout.twig' %}

{% block app_body %}

  {% set data = {
    'id': 'demographic_data_create',
    'apartamentType': apartamentType,
    'heatingType': heatingType,
    'waterType': waterType,
    'patient_id': patient.id
  } %}
  {% include 'demographicdata/create.twig' with data only %}
  {% include 'demographicdata/edit.twig' with { 'demographic_data': patient.demographicData } only %}

  <div class="container" style="margin-top: 45px;">
    <div id="patient_edit_response"></div>

    <ul class="nav nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#show" role="tab">Paciente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Editar</a>
      </li>
    </ul>

    <!-- Tab panels -->
    <div class="tab-content">
      <!--Panel 1-->
      <div class="tab-pane fade in show active" id="show" role="tabpanel">
        <!--Card-->
        <div class="card card-cascade wider reverse my-4">

          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">
              <strong>{{patient.fullName}}</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>{{patient.birthday}}</strong>
            </h5>
            <br>
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <p class="mb-0">
                  <strong>Obra Social</strong>
                </p>
                <p>{{patient.socialWork.name}}</p>
              </div>
              <div class="col-lg-4 col-sm-6">
                <p class="mb-0">
                  <strong>Tipo de documento</strong>
                </p>
                <p>{{patient.documentType.name}}
                </div>
                <div class="col-lg-4 col-sm-6">
                  <p class="mb-0">
                    <strong>Número de documento</strong>
                  </p>
                  <p>{{patient.documentNumber}}</p>
                </div>

                <div class="col-lg-4 col-sm-6">
                  <p class="mb-0">
                    <strong>Teléfono</strong>
                  </p>
                  <p>{{patient.phone}}</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <p class="mb-0">
                    <strong>Dirección</strong>
                  </p>
                  <p>{{patient.address}}</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <p class="mb-0">
                    <strong>Género</strong>
                  </p>
                  <p>{{patient.gender}}</p>
                </div>
              </div>

              <hr>
              {% if patient.demographicDataId is null %}
              <div class="mt-5 mb-4">
                <button type="button" class="btn btn-dark light-blue darken-3" data-toggle="modal" data-target="#demographic_data_create">Datos Demográficos</button>
              </div>
              {% else %}
              <br>
              <h4>Datos demográficos
                <button class="btn btn-dark light-blue darken-3 btn-circle btn-xs" data-toggle="modal" data-target="#demographic_data_edit"><i class="material-icons">edit</i></button>
              </h4>
              <div class="card-body text-center">
                <div class="row">
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Heladera</strong>
                    </p>
                    <p>{{(patient.demographicData.refrigerator == "0")? "No":"Si"}}</p>
                  </div>

                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Electricidad</strong>
                    </p>
                    <p>{{(patient.demographicData.electricity == "0")? "No":"Si"}}</p>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                      <p class="mb-0">
                        <strong>Mascota</strong>
                      </p>
                      <p>{{(patient.demographicData.pet == "0")? "No":"Si"}}</p>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                      <p class="mb-0">
                        <strong>Tipo de vivienda</strong>
                      </p>
                      <p>{{patient.demographicData.apartamentType.name}}</p>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                      <p class="mb-0">
                        <strong>Tipo de calefacción</strong>
                      </p>
                      <p>{{patient.demographicData.heatingType.name}}</p>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                      <p class="mb-0">
                        <strong>Tipo de agua</strong>
                      </p>
                      <p>{{patient.demographicData.waterType.name}}</p>
                    </div>
                  </div>
              </div>
              {% endif %}
              <img class="mt-3" style="max-width: 25px;" src="web/assets/images/icon.png">
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
        <!--/.Panel 1-->
        <!--Panel 2-->
        <div class="tab-pane fade" id="edit" role="tabpanel">
          <!--Card-->
          <div class="card card-cascade wider reverse my-4">

            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title">
                <strong>{{patient.name}}</strong>
              </h4>
              <h5 class="indigo-text">
                <strong>{{patient.name}}</strong>
              </h5>
              <br>
              <form id="patient_edit_form" action="patients/edit/{{patient.id}}" method="post">
                <div class="form-row">
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Nombre</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="text" name="firstName" value="{{patient.firstName}}" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Apellido</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="text" name="lastName" value="{{patient.lastName}}" placeholder="Apellido">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Fecha de nacimiento</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="date" name="birthday" value="{{patient.birthday}}" placeholder="Fecha de nacimiento">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Número de documento</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="text" name="documentNumber" value="{{patient.documentNumber}}" placeholder="Número de documento">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Teléfono</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="text" name="phone" value="{{patient.phone}}" placeholder="Teléfono">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Dirección</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <input class="form-control text-center" type="text" name="address" value="{{patient.address}}" placeholder="Dirección">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Tipo de documento</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <select class="form-control" id="documentTypeId" name="documentTypeId">
                        <option disabled>Tipo de documento</option>
                        {% for option in documentsType %}
                          <option value="{{option.id}}" {{(patient.documentTypeId == option.id)? "selected"}}>{{option.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Género</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <select class="form-control" id="gender" name="gender">
                        <option disabled>Género</option>
                        {% for option in genders %}
                          <option value="{{option}}" {{(patient.gender == option) ? "selected"}}>{{option}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <p class="mb-0">
                      <strong>Obra Social</strong>
                    </p>
                    <div class="md-form mb-0 card-style-input">
                      <select class="form-control" id="socialWorkId" name="socialWorkId">
                        <option disabled>Obra Social</option>
                        {% for option in socialWorks %}
                          <option value="{{option.id}}" {{(patient.socialWorkId == option.id)? "selected"}}>{{option.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button id="edit_button" type="submit" class="btn btn-indigo" title="Editar Paciente">
                    Editar paciente
                  </button>
                </div>
              </form>
              <br>
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->
        </div>
        <!--/.Panel 2-->
      </div>
    </div>
  {% endblock %}

  {% block scripts %}
    <script src="web/assets/javascripts/components/patient/edit.js"></script>
    <script src="web/assets/javascripts/components/demographicdata/create.js"></script>
  {% endblock %}
