<!DOCTYPE html>
<html lang="es">

  <head>
    <base href="{{ app.url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#62a8eb">
    <meta name="keywords" content="Hospital Ricardo Gutiérrez">
    <meta name="description" content="Plataforma web para el Hospital Gutiérrez">
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://grupo5.proyecto2017.linti.unlp.edu.ar/"/>
    <meta property="og:title" content="Hospital Dr. Ricardo Gutiérrez"/>
    <meta property="og:site_name" content="Hospital Gutiérrez"/>
    <meta property="og:description" content="Plataforma web para el Hospital Gutiérrez"/>
    <meta property="og:image" content="https://grupo5.proyecto2017.linti.unlp.edu.ar/web/assets/images/icon.png"/>

    <title>{{ app.name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="web/assets/stylesheets/main.css">
    {% block styles %}
      <!-- -->
    {% endblock %}
  </head>

  <body>
    {# App topnav #}
    {% block app_header %}
      <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark light-blue darken-4  scrolling-navbar">

          <!-- Navbar brand -->
          <a class="navbar-brand" href="#">
            <img src="web/assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
          </a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {% if owner_user %}
                <li class="nav-item">
                  <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
              {% endif %}

            </ul>
            <ul class="navbar-nav nav-flex-icons">
              {% if owner_user %}
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="users/show/{{ owner_user.name }}">
                      <i class="fa fa-user"></i>
                      Ver perfil
                    </a>
                    <a class="dropdown-item" href="logout">
                      <i class="fa fa-sign-out"></i>
                      Cerrar Sesión</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="signup" title="Registrarse">
                    Registrarse
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login" title="Iniciar Sesión">
                    Iniciar Sesión
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
          <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
      </header>
      <div style="margin-top: 75px;"></div>
    {% endblock %}

    {% block app_message %}
      <div class="container" style="margin-top: 45px;">
        {% include 'error/message.twig' %}
      </div>
    {% endblock %}

    {# App content #}
    {% block app_body %}{% endblock %}

    {# Footer #}
    {% block app_footer %}
      <!--Footer-->
      <footer class="page-footer center-on-small-only stylish-color-dark">

        <!--Footer Links-->
        <div class="container">
          <div class="row">

            <!--First column-->
            <div class="col-md-8">
              <h5 class="title mb-4 mt-3 font-bold">Sobre el hospital</h5>
              <p>{{ app.description }}</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-4 mx-auto">
              <h5 class="title mb-4 mt-3 font-bold">Enlaces</h5>
              <ul>
                <li>
                  <a href="https://www.facebook.com/pages/Hospital-Zonal-de-Agudos-Dr-Ricardo-Guti%C3%A9rrez/143694942367566">Facebook</a>
                </li>
                <li>
                  <a
                    href="https://wego.here.com/directions/mylocation/e-eyJuYW1lIjoiSG9zcGl0YWwgWm9uYWwgZGUgQWd1ZG9zIFwiRHIuIFJpY2FyZG8gR3V0aVx1MDBlOXJyZXpcIiIsImFkZHJlc3MiOiJEaWFnLiAxMTQgeSAzOSwgTGEgUGxhdGEiLCJsYXRpdHVkZSI6LTM0Ljg5NTg4MjEwMzg3OSwibG9uZ2l0dWRlIjotNTcuOTQ4MDcwMTg5NjMxLCJwcm92aWRlck5hbWUiOiJmYWNlYm9vayIsInByb3ZpZGVySWQiOjE0MzY5NDk0MjM2NzU2Nn0=?map=-34.895882103879,-57.948070189631,15,normal&ref=facebook&link=addresses&fb_locale=es_ES">Como llegar</a>
                </li>
                <li>
                  <a href="callto:+54-0221-483-0171">Llamar a télefono</a>
                </li>
                <li>
                  <a href="https://clinica-web.com.ar/listing/hospital-dr-ricardo-gutierrez-la-plata/">Más información</a>
                </li>
              </ul>
            </div>
            <!--/.Second column-->
          </div>
        </div>
        <hr>
        {% if not owner_user %}

          <!--Call to action-->
          <div class="call-to-action">
            <ul>
              <li>
                <h5 class="mb-1">Registrate Gratis</h5>
              </li>
              <li>
                <a href="signup" class="btn btn-danger btn-rounded waves-effect waves-light">Registrarse</a>
              </li>
            </ul>
          </div>
          <!--/.Call to action-->
        {% else %}
          <!--Call to action-->
          <div class="call-to-action">
            <ul>
              <li>
                <h5 class="mb-1">Ir a sección de trabajo</h5>
              </li>
              <li>
                <a href="dashboard" class="btn btn-danger btn-rounded waves-effect waves-light">Dashboard</a>
              </li>
            </ul>
          </div>
          <!--/.Call to action-->
        {% endif %}

        <hr>

        <!--Social buttons-->
        <div class="social-section text-center">
          <ul>

            <li>
              <a class="btn-floating btn-circle btn-blue waves-effect waves-light" href="https://www.facebook.com/pages/Hospital-Zonal-de-Agudos-Dr-Ricardo-Guti%C3%A9rrez/143694942367566">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a
                class="btn-floating btn-circle btn-orange waves-effect waves-light"
                href="https://www.google.com.ar/maps/place/Hospital+Dr.+Ricardo+Guti%C3%A9rrez/@-34.8957026,-57.9479304,15z/data=!4m2!3m1!1s0x0:0xf673863d8a6bfd43?sa=X&ved=0ahUKEwj2n4bVhuzWAhUFipAKHTdsCesQ_BIIhQEwCg">
                <i class="fa fa-map-marker"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating btn-circle btn-dark-green waves-effect waves-light" href="https://clinica-web.com.ar/listing/hospital-dr-ricardo-gutierrez-la-plata/">
                <i class="fa fa-info"></i>
              </a>
            </li>
            <li>
              <a class="btn-floating btn-circle btn-red waves-effect waves-light" href="mailto:{{app.contact}}">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
          <div class="container-fluid">
            © 2017 Copyright:
            {{app.name}}
          </div>
        </div>
        <!--/.Copyright-->

      </footer>
      <!--/.Footer-->
    {% endblock %}

    {# Scripts #}
    <script src="web/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="web/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="web/node_modules/mdbootstrap/js/popper.min.js"></script>
    <script src="web/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="web/node_modules/mdbootstrap/js/mdb.min.js"></script>

    <script src="web/assets/javascripts/main.js"></script>
    {% block scripts %}
      <!-- -->
    {% endblock %}
  </body>

</html>
