{% extends 'layout/layout.twig' %}

{% block app_message %}
  <!-- -->
{% endblock %}

{% block app_body %}
  <div class="container mb-5">
    <br>
    <div id="role_edit_response">
      {% include 'error/message.twig' %}
    </div>
    <h1 class="text-center"><strong>{{role.name}}</strong></h1>
    <br>
    <ul class="nav nav nav-pills nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#show" role="tab">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Editar</a>
      </li>
    </ul>
    <!-- Tab panels -->
    <div class="tab-content">
      <!--Panel 1-->
      <div class="tab-pane fade in show active" id="show" role="tabpanel">
        <!--Card-->
        <div class="card card-cascade wider reverse my-4">

          <!--Card content-->
          <div class="card-body text-center">
            <table class="table table-hover table-responsive w-auto">
              <thead>
                <tr>
                  <th class="col-10 text-left">Nombre</th>
                  <th class="col-2">Acciones</th>
                </tr>
              </thead>
              {% for permission in permissions %}
                <tbody>
                  <tr>
                    <td class="col-10 text-left">{{ permission.name }}</td>
                    <td class="col-2">
                      <a href="roles/delete/{{role.id}}/{{permission.name}}">
                        <span class="badge badge-danger badge-pill">Eliminar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
            <div class="d-flex justify-content-center">
              <!--Pagination -->
              {% if roles is not empty %}
              <div class="text-center">
                <nav class="my-4 pt-2">
                  <ul class="pagination pagination-circle pg-bluegrey mb-0">

                    <!--First-->
                    <li class="page-item {{ (1 == page) ? 'disabled' }} clearfix d-none d-md-block">
                      <a class="page-link" href="roles/show/{{role.id}}?page=1">First</a>
                    </li>

                    <!--Arrow left-->
                    <li class="page-item {{ (1 == page) ? 'disabled' }}">
                      <a class="page-link" href="roles/show/{{role.id}}?page={{ page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previo</span>
                      </a>
                    </li>

                    <!-- Numbers -->
                    {% for index in range(1, last_page) %}
                      <li class="page-item {{ (index == page) ? 'active' }}">
                        <a class="page-link" href="roles/show/{{role.id}}?page={{ index }}">{{ index }}</a>
                      </li>
                    {% endfor %}

                    <!--Arrow right-->
                    <li class="page-item {{ (last_page == page) ? 'disabled' }}">
                      <a class="page-link" href="roles/show/{{role.id}}?page={{ page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                      </a>
                    </li>

                    <!--First-->
                    <li class="page-item {{ (last_page == page) ? 'disabled' }} clearfix d-none d-md-block">
                      <a class="page-link" href="roles/show/{{role.id}}?page={{ last_page }}">Last</a>
                    </li>

                  </ul>
                </nav>
              </div>
              {% endif %}
              <!--/Pagination -->
            </div>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <!--/.Panel 1-->
      <!--Panel 2-->
      <div class="tab-pane fade" id="add" role="tabpanel">
        <!--Card-->
        <div class="card card-cascade wider reverse my-4">

          <!--Card content-->
          <div class="card-body text-center">
            <form id="roles_edit_form" action="roles/edit/{{role.id}}" method="post">
              <div class="form-row">
                <div class="col-lg-12 col-sm-12">
                  <p class="mb-0">
                    <strong>Nombre</strong>
                  </p>
                  <div class="md-form mb-0 card-style-input">
                    <input class="form-control text-center" type="text" name="name" value="{{role.name}}" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                  <p class="mb-0">
                    <strong>Obra Social</strong>
                  </p>
                  <div class="md-form">
                    <label for="permissionsId"></label>
                    <select class="form-control" id="permissionsId" name="permissionsId[]" multiple="">
                      <option selected value="default" disabled="disabled">Permisos</option>
                      {% for option in notPermissions %}
                        <option value="{{option.id}}">{{option.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="text-center">
                    <button id="edit_button" type="submit" class="btn btn-indigo" title="Agregar permisos">
                      Agregar permisos
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--/.Panel 2-->
    </div>
    {% if role.permissions is empty %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        <small>
          <strong>No hay permisos cargados para este rol.</strong>
          Puede agregar permisos <a href="roles/edit/{{role.id}}">aquí</a>
        </small>
      </p>
    </div>
    {% endif %}
    <hr>
  </div>
{% endblock %}
