{% extends 'layout/layout.twig' %}

{% block app_message %}
  <!-- -->
{% endblock %}

{% block app_body %}
  <div class="container mb-5">
    <br>
    <div id="role_edit_response">
      {% include 'error/message.twig' %}
    </div>
    <h1 class="text-center"><strong>{{role.name}}</strong></h1>
    <table class="table table-hover table-responsive w-auto">
      <thead>
        <tr>
          <th>Nombre</th>
          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      {% for permission in role.permissions %}
        <tbody>
          <tr>
            <th>{{ permission.name }}</th>
            <th class="text-right">
              <a href="roles/delete/{{role.id}}/{{permission.name}}">
                <span class="badge badge-danger badge-pill">Eliminar</span>
              </a>
            </th>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    {% if role.permissions is empty %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        <small>
          <strong>No hay permisos cargados para este rol.</strong>
          Puede agregar permisos <a href="roles/edit/{{role.id}}">aquí</a>
        </small>
      </p>
    </div>
    {% endif %}
    <hr>
  </div>
{% endblock %}
