{% extends 'layout/layout.twig' %}

{% block styles %}
  <link rel="stylesheet" href="web/assets/stylesheets/dashboard.css">
{% endblock %}

{% block app_header %}
  <!-- -->
{% endblock %}

{% block app_message %}{% endblock %}

{% block app_body %}
  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <nav class="navbar navbar-dark fixed-top" id="sidebar-wrapper">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#!">Inicio</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ owner_user.name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Sesión</li>
            <li>
              <a href="users/show/{{ owner_user.name }}">Ver perfil</a>
            </li>
            <li>
              <a href="logout">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="patients">Ver listado</a>
            </li>
            <li>
              <a {{ 'paciente_new' not in permissions ? 'class="disabled"' }} href="patients/create">Registrar paciente</a>
            </li>
          </ul>
        </li>
        <li>
          <a {{ 'usuario_index' not in permissions ? 'class="disabled"' }} href="users">Usuarios</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'rol_index' not in permissions ? 'class="disabled"' }} href="roles">Ver listado</a>
            </li>
            <li>
              <a {{ 'rol_new' not in permissions ? 'class="disabled"' }} href="roles/create">Crear rol</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Datos Demográficos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="demographicdata">Ver listado</a>
            </li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="demographicdata/analytics">Ver estadísticas</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Historias Clínicas
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="healthcontrols">Ver listado</a>
            </li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="healthcontrols/analytics">Ver estadísticas</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'debug_index' not in permissions ? 'class="disabled"' }} href="debug">Ver debug</a>
            </li>
            <li>
              <a {{ 'log_index' not in permissions ? 'class="disabled"' }} href="firewall/show/logs">Ver logs</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-open" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div id="dashboard_container" class="container-fluid">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
            {% include 'error/message.twig' %}
            <h1>Bienvenido
              {{ owner_user.fullName}}</h1>
            <br>
            {% if owner_user.roles is empty %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>
                  <small>
                    <strong>Usted aún no tiene roles designados.</strong>
                  </small>
                </p>
              </div>
            {% else %}
              {% set analytics_data = {
                'users': users_count,
                'patients': patients_count,
                'roles': roles_count,
                'permissions': permissions_count
              } %}
              {% include 'analytics/analytics.twig' with analytics_data only %}
            {% endif %}
            <hr>
            {% if admin %}
              <div class="text-center mt-4">
                <h3>Configuración del sistema</h3>
                <br>
                <div id="settings_edit_response"></div>
                <form id="settings_edit_form" action="settings/edit" method="post">
                  <div class="form-row">
                    <div class="col-lg-3 col-xs-6">
                      <p class="mb-0">
                        <strong>Nombre</strong>
                      </p>
                      <div class="md-form mb-0 card-style-input">
                        <input class="form-control text-center" type="text" name="name" value="{{ app.name }}" placeholder="Nombre">
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                      <p class="mb-0">
                        <strong>Mail de contacto</strong>
                      </p>
                      <div class="md-form mb-0 card-style-input">
                        <input class="form-control text-center" type="email" name="contact" value="{{ app.contact }}" placeholder="Cantidad por página">
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                      <p class="mb-0">
                        <strong>Cantidad por página</strong>
                      </p>
                      <div class="md-form mb-0 card-style-input">
                        <input class="form-control text-center" type="number" name="amount_per_page" value="{{ app.amount_per_page }}" placeholder="Cantidad por página">
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                      <p class="mb-0">
                        <strong>Sitio en mantenimiento</strong>
                      </p>
                      <div class="md-form">
                        <div class="checkbox">
                          <input type="checkbox" {{ (app.maintenance) ? "checked" }} id="maintenance" name="maintenance">
                          <label for="maintenance">Mantenimiento</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-xs-6">
                      <p class="mb-0">
                        <strong>Descripción</strong>
                      </p>
                      <div class="md-form mb-0 card-style-input">
                        <textarea id="description" name="description" class="md-textarea" style="min-height: 45px;">{{ app.description }}</textarea>
                        <label for="description">Descripción</label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <button type="submit" class="btn btn-indigo" title="Editar configuración">
                      Actualizar
                    </button>
                  </div>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
{% endblock %}

{% block app_footer %}
  <!-- -->
{% endblock %}

{% block scripts %}
  <script src="web/assets/javascripts/components/dashboard/dashboard.js"></script>
  {% if admin %}
    <script src="web/assets/javascripts/components/dashboard/settings.js"></script>
  {% endif %}
{% endblock %}
