{% extends 'layout/layout.twig' %}

{% block styles %}
  <link rel="stylesheet" href="web/assets/stylesheets/dashboard.css">
{% endblock %}

{% block app_header %}
  <!-- -->
{% endblock %}

{% block app_body %}
  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <nav class="navbar navbar-dark fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#!">Inicio</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sesión
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Sesión</li>
            <li>
              <a href="users/show/{{ owner_user.name }}">Ver perfil</a>
            </li>
            <li>
              <a href="logout">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'paciente_index' not in permissions ? 'class="disabled"' }} href="patients">Ver listado</a>
            </li>
            <li>
              <a {{ 'paciente_new' not in permissions ? 'class="disabled"' }} href="patients/create">Registrar paciente</a>
            </li>
          </ul>
        </li>
        <li>
          <a {{ 'usuario_index' not in permissions ? 'class="disabled"' }} href="users">Usuarios</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Opciones</li>
            <li>
              <a {{ 'rol_index' not in permissions ? 'class="disabled"' }} href="roles">Ver listado</a>
            </li>
            <li>
              <a {{ 'rol_new' not in permissions ? 'class="disabled"' }} href="roles/create">Crear rol</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-open" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div id="dashboard_container" class="container-fluid">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
            <h1>Dashboard content</h1>
            <br>
            {% set analytics_data = {
              'users': users_count,
              'patients': patients_count,
              'roles': roles_count,
              'permissions': permissions_count
            } %}
            {% include 'analytics/analytics.twig' with analytics_data only %}
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
{% endblock %}

{% block app_footer %}
  <!-- -->
{% endblock %}

{% block scripts %}
  <script src="web/assets/javascripts/components/dashboard/dashboard.js"></script>
{% endblock %}
